<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="card col-6 p-0">
      <h5 class="card-header">ADMIN</h5>
      <div class="card-body">
        <form class="col-12" [formGroup]="adminForm" (ngSubmit)="onSubmit()">
          <div class="col">
            <label for="Email address">Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
            />
          </div>
          <div class="col">
            <label for="Password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
            />
          </div>
          <div class="col mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
