<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="card col-6 p-0">
      <h5 class="card-header">REGISTER</h5>
      <div class="card-body">
        <form class="col-12">
          <div class="col">
            <label for="Email address">Email address</label>
            <input type="email" class="form-control" name="email" />
          </div>
          <div class="col">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="pass" />
          </div>
          <div class="col">
            <label for="re-password">Re-Password</label>
            <input type="password" class="form-control" name="rePass" />
          </div>
          <div class="col">
            <label for="name">Name : </label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="col">
            <label for="surname">Surname : </label>
            <input type="text" class="form-control" name="surname" />
          </div>
          <div class="col">
            <label for="age">Age : </label>
            <input type="text" class="form-control" name="age" />
          </div>
          <div class="col">
            <label for="age">Department : </label>
            <input type="text" class="form-control" name="dept" />
          </div>
          <div class="col mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
