<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="card col-6 p-0">
      <h5 class="card-header">REGISTER</h5>
      <div class="card-body">
        <form [formGroup]="register" (ngSubmit)="onsave()">
          <div class="col">
            <label for="Email address">Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
            />
          </div>
          <!-- <span *ngIf="!email" style="color: red;"> กรุณากรอก email ให้ครบถ้วน</span> -->
          <div class="col">
            <label for="Password">Password</label>
            <input
              type="password"
              class="form-control"
              name="pass"
              formControlName="pass"
              (change)="passwordtest()"
            />
          </div>
          <div class="col">
            <label for="re-password">Re-Password</label>
            <input
              type="password"
              class="form-control"
              name="rePass"
              formControlName="rePass"
              (change)="passwordtest()"
            />
          </div>
          <span *ngIf="!password" style="color: red;"> กรุณากรอก password ให้ถูกต้อง</span>
          <div class="col">
            <label for="name">Name : </label>
            <input
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
            />
          </div>
          <div class="col">
            <label for="surname">Surname : </label>
            <input
              type="text"
              class="form-control"
              name="surname"
              formControlName="surname"
            />
          </div>
          <div class="col">
            <label for="age">Age : </label>
            <input
              type="text"
              class="form-control"
              name="age"
              formControlName="age"
            />
          </div>
          <div class="col">
            <label for="age">Department : </label>
            <!-- <input
              type="text"
              class="form-control"
              name="dept"
              formControlName="dept"
            /> -->
            <select formControlName="dept">
              <option *ngFor="let dept2 of depts2" [value]="dept2.Value">
                {{title.Text}}
              </option>
          </select>
          </div>
          <div class="col mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
