<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="card col-6 p-0">
      <h5 class="card-header">REGISTER</h5>
      <div class="card-body">
        <form [formGroup]="register" (ngSubmit)="onsave()">
          <div class="col">
            <label for="Email address">Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
            />
          </div>

          <div class="col">
            <label for="Password">Password</label>
            <input
              type="password"
              class="form-control"
              name="pass"
              formControlName="pass"
              (change)="isMatchedPassWord()"
            />
          </div>
          <div class="col">
            <label for="re-password">Re-Password</label>
            <input
              type="password"
              class="form-control"
              name="rePass"
              formControlName="rePass"
              (change)="isMatchedPassWord()"
            />
            <span *ngIf="!passwordMatched" class="text-danger">
              กรุณากรอก password ให้ถูกต้อง</span
            >
          </div>

          <div class="col">
            <label for="name">Name : </label>
            <input
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
            />
          </div>
          <div class="col">
            <label for="surname">Surname : </label>
            <input
              type="text"
              class="form-control"
              name="surname"
              formControlName="surname"
            />
          </div>
          <div class="col">
            <label for="age">Age : </label>
            <input
              type="text"
              class="form-control"
              name="age"
              formControlName="age"
            />
          </div>
          <div class="col">
            <label for="age">Department : </label>
            <select class="form-control" name="dept" formControlName="dept">
              <option
                *ngFor="let dept of department"
                [value]="dept.department_id"
              >
                {{ dept.name }}
              </option>
            </select>
          </div>
          <div class="col mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
